.register{
    height: 100vh;
}

.register-container{
    width: 800px;
    max-width: 1200px;
    margin: 5rem auto;
    height: 600px;
    display: flex;
    border-radius: var(--radius-16);
    overflow: hidden;
}

.register img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-form,.register-img{
    flex: 1;
}

.register-form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.register form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register span{
    font-size: var(--fs-4);
}


.register input{
    border: none;
    padding: var(--fs-7);
    font-weight: 400;
    font-size: var(--fs-6);
}

.register input::placeholder{
    font-size: var(--fs-7);
}

.register label{
    font-size: 20px;   
}

.registerButton{
    color: white;
    background-color: var(--black);
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
}

.registerButton{
    color: white;
    background-color: var(--black);
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
}

@media(max-width:992px){
    
    .register-container{
        width: 700px;
        max-width: 800px;
    }
}