/* SINGLE POST */

.single-item{
    display: flex;
    flex-direction: column;
    gap:var(--fs-2);
}

.single-img img{
    object-fit: cover;
    width: 100%;
    border-radius: var(--radius-16);
}

.single-content{
    display: flex;
    flex-direction: column;
    gap: var(--fs-1);
}

.single-book-details{
    display: flex;
    flex-direction: column;
    gap: var(--fs-8);
}


.single-user-details{
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw-500);
    color: var(--gray-4);
}

.single-item-desc{
font-style: italic;
}

.single-edit{
    font-size:var(--fs-3);
    display: flex;
    gap: var(--fs-1);
}

.single-user{
    display: flex;
    flex-direction: column;
    gap: var(--fs-10);
}

.single-delete{
  cursor: pointer;
}

.single-update{
    cursor: pointer;
}