.footer{
    background-color: var(--black);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-container{
    max-width: 1200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

}

.footer h1{
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: white;
}

.footer-copyright{
    color: beige;
    font-size: var(--fs-8);
    padding: 1rem;
    border-bottom: 0.5px solid var(--white);
    border-top: 0.5px solid var(--white);
}

