.container{
    max-width: 1200px;
    margin: 4rem auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-title{
    font-size: 4rem;
    font-weight: 400;
    width: 100%;

}


@media(max-width:992px){
    .container{
        max-width: 900px;
        margin: 2rem auto;
        padding: 1rem;
       }
    
       .hero-title{
        font-size: 3rem;
       }    
}

